<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
 "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
<bean id="triangle" class ="com.hcl.Triangle" >
<property name="A" ref="pointA" ></property>
<property name="B" ref="pointB" ></property>
<property name="C" ref="pointC" ></property>
</bean>

<bean id="pointA" class ="com.hcl.Point" >
<property name="x" value="10.0" ></property>
<property name="y" value="20.0" ></property>
</bean>

<bean id="pointB" class ="com.hcl.Point" >
<property name="x" value="-20.0" ></property>
<property name="y" value="40.0" ></property>
</bean>

<bean id="pointC" class ="com.hcl.Point" >
<property name="x" value="20.0" ></property>
<property name="y" value="60.0" ></property>
</bean>
</beans>